 <div class="container">
  <h1 class="py-4 text-center">CHATROOMS</h1>
    <% @chatrooms.each do |chatroom| %>
    <div class="row justify-content-center" id="index-missions">
        <div class="col-8">
          <%= link_to chatroom_path(chatroom), style: "text-decoration: none" do %>
            <div class="row cards-missions bg-white p-3">
              <div class="col-4">
                <h4><%= "#{current_user == chatroom.user ? chatroom.mission_candidate.user.fullname : chatroom.user.fullname}'s chat" %></h4>
                <% if chatroom.messages.count > 0 %>
                  <p style="color: grey; opacity: 0.4"><%= chatroom.messages.last.user == current_user ? "You" : chatroom.messages.last.user.fullname %>: <%= chatroom.messages.last.content.split.first(3).join(" ") %>...</p>
                <% end %>
              </div>
              <div class="col-4">
                <p>Mission : <%= chatroom.mission_candidate.mission.title %></p>
                <p><%= chatroom.mission_candidate.mission.start_date.strftime('%a %d %B %Y') %></p>
              </div>
              <div class="col-4">
                <% if chatroom.messages.count > 0 && chatroom.messages.where.not(seen_date: nil).count > 0 %>
                  <p>Last seen: <%= time_ago_in_words(chatroom.messages.where.not(seen_date: nil).last.seen_date) %> ago</p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
</div>
