 <div class="container">
  <h1 class="pt-4 text-center">CHATROOMS</h1>
    <% @chatrooms.each do |chatroom| %>
      <%= link_to chatroom_path(chatroom), style: "text-decoration: none" do %>
        <div class="row cards-missions p-3">
          <div class="col-6">
            <%= "#{current_user == chatroom.user ? chatroom.mission_candidate.user.fullname : chatroom.user.fullname}'s chat" %>
            <p style="color: red"><%= chatroom.messages.where(seen_date: nil).where.not(user: current_user).count.zero? ? "" : "#{chatroom.messages.where(seen_date: nil).where.not(user: current_user).count} new messages" %>
            <% if chatroom.messages.count > 0 %>
              <p style="color: grey; opacity: 0.4"><%= chatroom.messages.last.user == current_user ? "You" : chatroom.messages.last.user.fullname %>: <%= chatroom.messages.last.content.split.first(3).join(" ") %>...</p>
              <% if chatroom.messages.where.not(seen_date: nil).count > 0 %>
                <p>Last seen: <%= time_ago_in_words(chatroom.messages.where.not(seen_date: nil).last.seen_date) %> ago</p>
              <% end %>
            <% end %>
          </div>
          <div class="col-6">
            <p><%= chatroom.mission_candidate.mission.title %></p>
            <p><%= chatroom.mission_candidate.mission.start_date.strftime('%a %d %B %Y') %></p>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
