<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      HelpDerby
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item me-3">
            <%= link_to new_mission_path, class: "nav-link text-primary text-uppercase animate-link" do %>
              Publish a mission <i class="fa fa-arrow-right"></i>
            <% end %>
          </li>
          <li class="nav-item me-3">
            <%= link_to missions_path, class: "nav-link text-primary text-uppercase animate-link" do %>
              Find a job <i class="fa fa-arrow-right"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%# juste pour avoir un visuel du user sur lequel on est connecté pendant le developpement%>
            <p class="nav-link text-primary"><%= current_user.first_name %></p>
          </li>
          <li class="nav-item dropdown">
             <% if current_user.photo.key.nil? %>
                <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://media.istockphoto.com/id/1337144146/fr/vectoriel/vecteur-dic%C3%B4ne-de-profil-davatar-par-d%C3%A9faut.jpg?b=1&s=170667a&w=0&k=20&c=eYsURDWBMsbvhjRxVQ8-pgC0q4b04DSYbCMnY5OlH14=" />
              <% else %>
                <div class="avatar dropdown-toggle" id="navbarDropdown" aria-hashpopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                  <%= cl_image_tag current_user.photo.key  %>
                </div>
              <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to dashboard_path, class: "dropdown-item text-primary border-bottom p-2" do %>
                My profile
              <% end %>
              <%= link_to "#", class: "dropdown-item text-primary border-bottom p-2" do %>
                See my missions
              <% end %>
              <%= link_to chatrooms_path, class: "dropdown-item text-primary border-bottom p-2" do %>
                Messages
              <% end %>
              <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item text-primary p-2" do %>
                Log out
              <% end %>
            </div>
          </li>
        <% else %>
          <li class="nav-item me-3">
            <%= link_to missions_path, class: "nav-link text-primary text-uppercase animate-link" do %>
              Find a job <i class="fa fa-arrow-right"></i>
            <% end %>
          </li>
          <li class="nav-item me-3">
            <%= link_to "Register", new_user_registration_path, class: "nav-link text-uppercase btn-animate" %>
          </li>
          <li class="nav-item me-3">
            <%= link_to "Login", new_user_session_path, class: "nav-link text-uppercase btn-animate btn-outline " %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
