<div class="container-fluid">
  <div>
    <div class="grid grid-width d-flex">
      <aside class="col-3 m-3">
        <div class="user">
          <div class="user-avatar d-flex flex-column align-items-center justify-content-center mb-5">
            <%# <% if current_user.photo.key.nil? %>
              <img class="avatar-large mb-5" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://media.istockphoto.com/id/1337144146/fr/vectoriel/vecteur-dic%C3%B4ne-de-profil-davatar-par-d%C3%A9faut.jpg?b=1&s=170667a&w=0&k=20&c=eYsURDWBMsbvhjRxVQ8-pgC0q4b04DSYbCMnY5OlH14=" />
            <%# <% else %>
              <%# <div class="avatar-image dropdown-toggle" id="navbarDropdown" aria-hashpopup="true" aria-expanded="false" data-bs-toggle="dropdown"> %>
                <%# <%= cl_image_tag current_user.photo.key  %>
              <%# </div> %>
            <%# <% end %>
            <h1><%= "#{current_user.first_name} #{current_user.last_name}" %></h1>
          </div>
        </div>
        <ul class="nav flex-column">
          <a href="#">
            <i class="fa-solid fa-user"></i>
            Profil
          </a>
          <a href="#">
            <i class="fa-solid fa-list"></i>
            My missions
          </a>
          <%= link_to "Messages", chatrooms_path %>
          <a href="#">
            <i class="fa-solid fa-right-from-bracket"></i>
            Log out
          </a>
        </ul>
      </aside>
      <div class="col-6">
        <div class="d-flex flex-column align-items-left justify-content-center text-align-center my-5 p-3">
          <h1>My personnal informations</h1>
        </div>
        <%= render "shared/user_edit" %>

        <ul>
          <% current_user.missions.each do |mission| %>
            <li><%= link_to "#{mission.title}", mission_path(mission) %></li>
          <% end %>
        </ul>
      </div>
</div>

    </div>

  </div>
