<div class="banner">
  <div class="container d-flex align-items-center">
    <div class="container d-flex flex-column align-items-start p-5">
      <div>
        <h1>Find <mark>support</mark> for your elderly</h1>
        <p class="mb-5">Help an elderly during your free time</p>
      </div>
      <div class="d-flex">
        <%= link_to new_mission_path, class: "btn-animate me-4" do %>
          <span>Post a mission</span>
        <% end %>
        <%= link_to missions_path, class: "btn-orange btn-animate" do %>
          <span>Find a mission</span>
        <% end %>
      </div>
    </div>
    <div class="img">
      <%= image_tag "img_background.png" %>
    </div>
  </div>
</div>

<div class="bg-brown-light py-5" style="background-color: white">
  <div class="container">
    <h2 class="my-4">How does it work ?</h2>
    <div class="row">
      <div class="col-lg-4 d-flex flex-column align-items-center justify-content-center">
        <figure class="d-flex align-items-center justify-content-center rounded-circle overflow-hidden">
          <i class="fa-brands fa-wpforms"></i>
        </figure>
        <h3 class="fw-normal fs-4 my-3"><%= link_to "Register here",new_user_registration_path, class:"text-decoration-none" %></h3>
        <p>In only 1 minute, it's that easy.</p>
      </div>
     <div class="col-lg-4 d-flex flex-column align-items-center justify-content-center">
        <figure class="d-flex align-items-center justify-content-center rounded-circle overflow-hidden">
          <i class="fa-regular fa-comments"></i>
        </figure>
        <h3 class="fw-normal fs-4 my-3">Find the perfect helper</h3>
        <p>Get the best person to help you.</p>
      </div>
      <div class="col-lg-4 d-flex flex-column align-items-center justify-content-center">
        <figure class="d-flex align-items-center justify-content-center rounded-circle overflow-hidden">
          <i class="fa-regular fa-hand-pointer"></i>
        </figure>
        <h3 class="fw-normal fs-4 my-3">Secure and reliable payment</h3>
        <p>To make sure to get help when you need it.</p>
      </div>
    </div>
  </div>
</div>

<!-- Cards helpers -->
<div class="container  mt-5">
  <h2 class="text-dark-grey my-4">Some of our best helpers:</h2>
  <div class="row mt-2 pb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color: white">
        <div class="col-3 d-flex justify-content-center align-items-center">
          <figure class="avatar-xlarge d-flex justify-content-center align-items-center">
            <img alt="avatar-large" src="https://www.superprof.fr/images/annonces/professeur-home-etudiante-photographie-sepr-donner-cours-photographie-lyon.jpg" />
          </figure>
        </div>
        <div class="col-9 p-4 d-flex flex-column position-static">
          <div class="d-flex justify-content-between">
            <h4 class="text-darker-orange mb-0">Julie Martin</h4>
            <div class="stars-review">
              <i class="star-orange fa-solid fa-star"></i>
              <i class="star-orange fa-solid fa-star"></i>
              <i class="star-orange fa-solid fa-star"></i>
              <i class="star-orange fa-solid fa-star"></i>
              <i class="star-orange fa-solid fa-star"></i>
            </div>
          </div>
          <div class="text-dark-grey mb-1 text-muted">25 years old</div>
          <strong class="text-dark-grey  d-inline-block mb-2">Permis B, Certif SCSP 1 </strong>
          <p class="text-dark-grey card-text mb-auto">Hello! I'm an architecture student looking to help people to also get extra money</p>
           <%= link_to "See more", dashboard_path, class: "stretched-link text-dark-grey" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color: white">
        <div class="col-3 d-flex justify-content-center align-items-center">
          <figure class="avatar-xlarge d-flex justify-content-center align-items-center">
            <img alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
          </figure>
        </div>
        <div class="col-9 p-4 d-flex flex-column position-static">
          <div class="d-flex justify-content-between">
            <h4 class="text-darker-orange mb-0">Lucas Fitzgerald</h4>
            <div class="stars-review">
              <i class="star-orange fa-solid fa-star"></i>
              <i class="star-orange fa-solid fa-star"></i>
              <i class="star-orange fa-solid fa-star"></i>
              <i class="star-orange fa-solid fa-star"></i>
              <i class="star-orange fa-regular fa-star"></i>
            </div>
          </div>
          <div class="text-dark-grey mb-1 text-muted">22 years old</div>
          <strong class="text-dark-grey d-inline-block mb-2">Permis B</strong>
          <p class="text-dark-grey card-text mb-auto">Hi! I'm looking forward to spending time with you, I'm fond of playing tarot!</p>
          <%= link_to "See more", dashboard_path, class: "text-dark-grey stretched-link" %>
        </div>
      </div>
    </div>
  </div>
</div>
