<div class="container">
  <h1><%= @user.fullname %></h1>
  <h5><%= @user.phone_number %> <%= @user.email %></h5>
  <p><%= @user.description %></p>
  <% if @chat.first.chatrooms.nil? %>
    <%= simple_form_for(@chatroom) do |f| %>
        <%= f.input :mission_candidate_id, input_html: { value: @chat.first.id }, as: :hidden %>
        <%= f.submit %>
    <% end %>
  <% else %>
    <%= link_to "Chat", chatroom_path(@chat.first.chatrooms.first) %>
  <% end %>
  <div class="row div-width-80 align-items-start my-5 review-container">
    <div class="col-5 review-content-wrapper">
      <h3>Reviews</h3>
      <% if @user.reviews.empty? %>
        <p>Be the first to post a review on <%= @user.first_name %>!</p>
      <% end %>
      <% @user.reviews.each do |review| %>
        <div class="review-content">
          <p>
            <% review.rating.times do %>
              <i class="fa-solid fa-star"></i>
            <% end %>
            <% (5 - review.rating).times do %>
              <i class="fa-regular fa-star"></i>
            <% end %>
             - <%= time_ago_in_words(review.updated_at) %> ago</p>
          <p><%= review.content %></p>
        </div>
      <hr>
      <% end %>
    </div>

    <% if @user != current_user %>
      <div class="col-6 offset-1 review-form">
        <h3>Add your review</h3>
        <%= simple_form_for [@user, @review] do |f| %>
          <% unless @user.reviews.where(reviewer_id: current_user).size.zero? %>
            <%= f.input :content, placeholder: 'Add your review here...', input_html: {disabled: true} %>
            <%= f.input :reviewer_id, as: :hidden, input_html: { value: current_user.id }%>
            <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {disabled: true,data: {controller: "star-rating"}}%>
            <%= f.submit "Submit review", class: "btn btn-primary disabled" %>
          <% else %>
            <%= f.input :content, placeholder: 'Add your review here...' %>
            <%= f.input :reviewer_id, as: :hidden, input_html: { value: current_user.id }%>
            <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}}%>
            <%= f.submit "Submit review", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
