<figure class="avatar-large-square">
  <% if mission_candidate.user.photo.key.nil? %>
    <img src="https://media.istockphoto.com/id/1337144146/fr/vectoriel/vecteur-dic%C3%B4ne-de-profil-davatar-par-d%C3%A9faut.jpg?b=1&s=170667a&w=0&k=20&c=eYsURDWBMsbvhjRxVQ8-pgC0q4b04DSYbCMnY5OlH14=" />
  <% else %>
      <%= cl_image_tag mission_candidate.user.photo.key  %>
  <% end %>
</figure>
<div class="candidate-details d-flex flex-column justify-content-around">
  <div class="d-flex align-items-baseline gap-2">
    <h4><%= mission_candidate.user.fullname %></h4>
    <%= link_to 'details', userpage_path(mission_candidate.user) %>
  </div>
  <p>member since <%= mission_candidate.user.created_at.strftime('%B %Y') %> </p>
  <%# partial %>
  <%= render 'user_rating', instance: mission_candidate %>
</div>
