<div data-search-missions-target="list">
  <% if missions.empty?  %>
    <p>There is no available missions currently</p>
  <% else %>
    <% missions.each do |mission| %>
      <%= link_to mission_path(mission), class: "text-decoration-none" do %>
        <div class="row">
          <div class="col-12">
            <div class="row cards-missions rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
              <div class="col-3 d-flex justify-content-center align-items-center">
                <figure class="d-flex justify-content-center align-items-center">
                  <i class="fa-solid fa-book-open fs-1"></i>
                </figure>
              </div>
              <div class="col-9 p-4 d-flex flex-column position-static">
                <div class="d-flex justify-content-between align-items-center">
                  <h4 class="mb-2 text-capitalize fs-4 "><%= mission.title %></h4>
                  <div class="stars-review">
                  <%# partial %>
                    <%= render 'user_rating', instance: mission %>
                  </div>
                </div>
                <p class="card-text mb-auto"><%= mission.description %></p>
                <div class="d-flex justify-content-between align-items-center pt-3">
                  <span class="d-inline-block"><i class="fa-solid fa-calendar-day"></i> <%= mission.start_date.strftime("%m/%d/%Y at %H:%M") unless mission.start_date.nil? %></span>
                  <span class="d-inline-block"><i class="fa-solid fa-location-dot"></i> <%= mission.location %></span>
                  <span class="d-inline-block"><i class="fa-solid fa-tag"></i> <%= mission.reward_cents/100 %></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
