<div data-search-missions-target="list">
  <% if missions.empty?  %>
    <p>There is no available missions currently</p>
  <% else %>
    <% missions.each do |mission| %>
      <%= link_to mission_path(mission), class: "text-decoration-none" do %>
        <div class="row justify-content-center mb-5"  id="index-missions">
          <div class="col-md-12 col-xl-12">
            <div class="card shadow-0 cards-missions">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md-6 col-lg-6 col-xl-6 border-end border-sm-end-none">
                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                      <figure class="d-flex justify-content-beetwen align-items-center  m-auto" >
                        <h4 style="width: 100%"><strong><%= mission.title %></strong></h4>
                        <%if mission.category_list.first.nil? %>
                          <i class="fa-solid fa-sliders fs-4"></i>
                        <% else %>
                          <i class="<%= find_icon(mission.category_list.first)%> fs-4"></i>
                        <% end %>
                      </figure>
                    </div>
                    <div class="mt-1 mb-0 text-muted small">
                      <p><strong><i class="fa-regular fa-map"></i></strong> <%= mission.location %></p>
                    </div>
                    <div class="mt-1 mb-3 text-muted small">
                      <% unless mission.start_date.nil? %>
                        <p><strong><i class="fa-regular fa-clock"></i></strong>  <%= mission.start_date.strftime('%a %d %B %Y')%> at <%= mission.start_date.strftime('%I:%M%p')%></p>
                      <% end %>
                    </div>
                    <h6 class="p"><strong>Mission description:</strong></h6>
                    <p class="text-truncate mb-4 mb-md-0">
                      <%= mission.description %>
                    </p>
                  </div>
                  <div class="col-md-6 col-lg-3 col-xl-3">
                    <div class="mt-1 mb-4">
                      <h6><strong>Status</strong></h6>
                      <% if (mission.status == true) && ((mission.start_date < Date.today) unless mission.start_date.nil?) %>
                          <h6 class="text-success">Mission done</h6>
                        <% elsif (mission.status == true) && ((mission.start_date > Date.today) unless mission.start_date.nil?) %>
                          <h6 class="text-alert"><i class="fa-sharp fa-solid fa-check"></i>  Mission confirmed</h6>
                        <% else %>
                          <h6 class="text-warning text-right"><i class="fa-regular fa-clock"></i>...waiting for approval</h6>
                      <% end %>
                    </div>
                    <div class="mt-1 mb-0">
                        <h6><strong>Reward</strong></h6>
                        <h6><strong><i class="fa-solid fa-money-bill"></i></strong>  <%= mission.reward_cents/100%> €</h6>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0 border-sm-start-none border-start d-flex align-items-center" style="padding: 7px 0">
                    <div class="d-flex d-column px-2 mb-2 flex-grow">
                      <figure class="avatar-circle-user m-1 ">
                        <% if mission.user.photo.key.nil? %>
                          <%= image_tag "default_avatar.png" %>
                        <% else %>
                            <%= cl_image_tag mission.user.photo.key %>
                        <% end %>
                      </figure>
                      <div class="flex-grow-1 py-2 px-3">
                        <h6><strong><%= mission.user.fullname %></strong></h6>
                        <%= render '/missions/candidate_rating', instance: mission.user %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
