<div class="py-5">
  <div class="col-4 container">
    <h1 class="text-center">Edit a mission</h1><br>
    <div class="new-mission justify-content-center d-flex border rounded" style="background-color: white">
      <div class="p-4 col-12">
        <%= simple_form_for(@mission, data: { controller: 'flatpickr'}) do |f| %>
          <%= f.input :title, label:"Mission title", placeholder:"Title of the mission..." %>
          <%= f.input :description, label:"Description", placeholder: "Describe the mission..." %>
          <%= f.input :location,
            input_html: {data: {address_autocomplete_target: "location"}, class: "d-none"},
            wrapper_html: {data: {controller: "address-autocomplete",
          address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
          %>
          <div class="row">
            <%= f.input :start_date, label:"Date",
                as: :string,
                wrapper_html: { class: 'col-6' },
                input_html: {
                  data: {
                    flatpickr_target: 'startDateInput',
                  },
                }
            %>
            <div class="input-group">
              <div class="col-10">
                <%= f.input :reward_cents, label:"Reward", input_html: {value: "0"} %>
              </div>
              <div class="col-2 d-flex align-items-center mt-3">
                <div class="input-group-append">
                 <span class="input-group-text" style="background-color: rgb(238, 130, 49); color: white">€</span>
                </div>
              </div>
            </div>
          </div>
          <%#= f.input :categories, collection: Mission::CATEGORIES, as: :check_boxes %>
          <%= f.input :categories,
            as: :check_boxes,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: Mission::CATEGORIES %>
          <%= f.submit "Update", class: "btn btn-orange btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
