<div class="py-5 bg-light-gray">
  <div class="container">
  <h2 class="text-center">Modify my mission</h2><br>
  <div class="justify-content-center d-flex">
    <div class="p-2 col-4">
      <%= simple_form_for(@mission) do |f| %>
        <%= f.input :title, label: "Titre", placeholder:"Titre de la mission..." %>
        <%= f.rich_text_area :description, label:"Description", placeholder: "Décrire la mission..." %>
        <%= f.input :location,
          input_html: {data: {address_autocomplete_target: "location"}, class: "input-geocode d-none"},
          wrapper_html: {data: {controller: "address-autocomplete",
          address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"],
          address_autocomplete_address_value: @mission.location}}
        %>
        <%= f.input :start_date, label:"Date",
            as: :string,
            input_html: {
              data: {
                flatpickr_target: 'startDateInput',
              },
            }
        %>
        <%= f.input :reward_cents, label:"Rémunération"  %>
        <%= f.submit "Créer la mission", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
