<div class="container" id="index-missions">
  <h1 class="text-center text-uppercase mb-4">All Missions</h1>

  <div data-controller="search-missions">
    <%= form_with(url: missions_path, method: :get, html: {class:
      "mb-4", data: {search_missions_target: "form"}}) do |f| %>
      <%= f.text_field :querysearch,
                      class: "form-control",
                      placeholder: "Type a mission title",
                      value: params[:querysearch],
                      data: {
                        search_missions_target: "input",
                        action: "keyup->search-missions#update"
                      } %>
      <div class="checkbox-inputs d-flex gap-3 align-items-center">
        <% Mission::CATEGORIES.each do |category| %>
          <div>
            <%= f.check_box category, class: "d-none", data: {
              search_missions_target: "checkbox",
              action: "change->search-missions#update"
            } %>
            <%= f.label category, category.to_s %>
          </div>
        <% end %>
      </div>
      <% end %>
    <%= render "list", missions: @missions %>
  </div>
</div>
