 <div>
  <div class="grid grid-width d-flex">
    <aside class="nav-dashboard col-3 m-3">
      <div class="user">
        <div class="user-avatar d-flex flex-column align-items-center justify-content-center mb-5">
          <% if current_user.photo.key.nil? %>
            <img class="avatar-large mb-5" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://media.istockphoto.com/id/1337144146/fr/vectoriel/vecteur-dic%C3%B4ne-de-profil-davatar-par-d%C3%A9faut.jpg?b=1&s=170667a&w=0&k=20&c=eYsURDWBMsbvhjRxVQ8-pgC0q4b04DSYbCMnY5OlH14=" />
          <% else %>
            <div class="avatar-large mb-5" id="navbarDropdown" aria-hashpopup="true" aria-expanded="false" data-bs-toggle="dropdown">
              <%= cl_image_tag current_user.photo.key  %>
            </div>
          <% end %>
          <h1><%= "#{current_user.first_name} #{current_user.last_name}" %></h1>
        </div>
      </div>
      <ul class="nav flex-column">
        <a href="/dashboard">
          <i class="fa-solid fa-user"></i>
          Profil
        </a>
        <a href="/mymissions">
          <i class="fa-solid fa-list"></i>
          My missions
        </a>
        <div>
          <a href="/chatrooms">
            <i class="fa-solid fa-message"></i>
            Messages
          </a>
        </div>
      </ul>
    </aside>
    <div class="col-6">

 <div class="py-5 bg-light-gray">
  <div class="container" id="index-missions">
    <h1 class="text-center text-uppercase mb-4">All my Missions</h1>
    <div class="row justify-content-center" data-controller="search-missions">
      <%= form_with(url: missions_path, method: :get, html: {class:
        "mb-4 p-0 col-8", data: {search_missions_target: "form"}}) do |f| %>
        <%= f.text_field :query,
                        class: "form-control",
                        placeholder: "Type a mission title or search by categories listed below",
                        value: params[:query],
                        data: {
                          search_missions_target: "input",
                          action: "keyup->search-missions#update"
                        } %>
        <div class="checkbox-inputs d-flex mt-4 justify-content-around">
          <% Mission::CATEGORIES.each do |category| %>
            <div>
              <%= f.check_box category, data: {
                search_missions_target: "checkbox",
                action: "change->search-missions#update"
              } %>
              <%= f.label category, category.to_s %>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= render "list", missions: @mymissions %>
    </div>
  </div>
</div>

    </div>
  </div>
</div>
